.arrayDisplays {
  width: fit-content;
  margin: auto;
  display: flex;
}

.bloc {
  padding-bottom: 4rem;
}

.bubbles {
  margin-left: 2rem;
}

/* Style for the bubble text */
.bubbleTxt {
  font-family: Arial;
  font-size: 1rem;
  fill: black;
  width: 100px;
  text-align: center;
  transform: translateX(calc(50% - 50px));
}

/* Style for the table */
.table7 {
  margin: 2rem 1rem;
  border-spacing: 0;
}

th, td {
  padding: 1rem;
}

/* Style for the borders */
tbody td:nth-child(2) {
  border-right: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

tbody td:nth-child(3) {
  border-right: 2px solid #cacaca;
}

thead th:nth-child(2) {
  border-right: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

thead th:nth-child(3) {
  border-right: 2px solid #cacaca;
}

/* Style for the cell's background */
tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

/* Style for the table header */
thead {
  color: white;
}
