  .chartDisplay {
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: space-between;
  }
  .chartPollutants {
    display: none;
    text-align: left;
    margin-top: 2rem;
    margin-right: 10rem;
  }


  /* Style for the buttons */
  .btn42 {
    border-radius: 20px;
    border-style: none;
    margin: 5rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid orange;
  }

  .btn42:hover {
    cursor: pointer;
    background-color: orange;
  }

  .btn42.selected {
    background-color: orange;
  }

