  .mapYear {
    width: fit-content;
    margin: 3rem auto;
  }

  .mapDisplays {
    width: fit-content;
    margin: auto;
    display: flex;
  }

  #map_6 {
    height: 600px;
    width: 680px;
    margin: auto;
    }

  .mapPollutants {
    display: none;
    text-align: left;
    margin-top: 2rem;
    margin-right: 4rem;
  }