.arrayDisplays {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc {
  padding-bottom: 4rem;
}

.bubbles {
  margin-left: 2rem;
}

/* Style for the bubble text */

.bubbleTxt {
  font-family: Arial;
  font-size: 1rem;
  fill: black;
  width: 100px;
  text-align: center;
  -webkit-transform: translateX(calc(50% - 50px));
          transform: translateX(calc(50% - 50px));
}

/* Style for the table */

.table7 {
  margin: 2rem 1rem;
  border-spacing: 0;
}

th,
td {
  padding: 1rem;
}

/* Style for the borders */

tbody td:nth-child(2) {
  border-right: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

tbody td:nth-child(3) {
  border-right: 2px solid #cacaca;
}

thead th:nth-child(2) {
  border-right: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
}

thead th:nth-child(3) {
  border-right: 2px solid #cacaca;
}

/* Style for the cell's background */

tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

/* Style for the table header */

thead {
  color: white;
}

.chartDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chartPollutants {
  display: none;
  text-align: left;
  margin-top: 2rem;
  margin-right: 10rem;
}

/* Style for the buttons */

.btn42 {
  border-radius: 20px;
  border-style: none;
  margin: 5rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid orange;
}

.btn42:hover {
  cursor: pointer;
  background-color: orange;
}

.btn42.selected {
  background-color: orange;
}

.chartDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chartPollutants {
  display: none;
  text-align: left;
  margin-top: 2rem;
  margin-right: 10rem;
}

/* Style for the buttons */

.btn42 {
  border-radius: 20px;
  border-style: none;
  margin: 5rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid orange;
}

.btn42:hover {
  cursor: pointer;
  background-color: orange;
}

.btn42.selected {
  background-color: orange;
}

.mapYear {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto;
}

.mapDisplays {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#map_6 {
  height: 600px;
  width: 680px;
  margin: auto;
}

.mapPollutants {
  display: none;
  text-align: left;
  margin-top: 2rem;
  margin-right: 4rem;
}

