<template>
  <div class="bloc" :id="'b'+blocId">
    <h3>{{this.title}}</h3>
    <h4 v-if="this.subtitle">{{this.subtitle}}</h4>
    <div class="year">
      <select v-model="selectedYear" @change="this.showResults">
        <option disabled value="">Choisissez une année</option>
        <option v-for="data in (dataGraph? dataGraph.datas : dataBloc.datas)" :key="data.year" v-bind:value="data.year">{{data.year}}</option>
      </select>
    </div>

    <div class="arrayDisplays">
      <table v-if="!(this.selectedYear == '')" class="table7">
        <thead :style= "{backgroundColor: dataConfigGeneral.color}">
          <tr>
            <th v-for="h in (headers)" :key="h">
              {{h}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in this.rows" :key="row.label">
            <td>
              {{row.label}}
            </td>
            <td>
              {{row.columns[0] + row.columns[1]}}
            </td>
            <td v-for="column in row.columns" :key="column">
              {{column}}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="bubbles">
        <svg class="bubble" id="bubble1">
        </svg>
        <svg class="bubble" id="bubble2">
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
    import Data from './Data';
    import jQuery from 'jquery';

    export default {
      extends: Data,
      name: 'Array',
      data() {
        return {
          dataConfigGeneral: {},
          dataConfigBloc: {},
          dataBloc: {},
          dataGraph: null,
          dataConfigGraph: {},
          colors: {},
          headers: {},
          title: '',
          subtitle: '',
          legend: {},//wtf
          legends: {},//wtf
          selectedYear: '',
          rows: {}
        }
      },
      props: 
      {
        blocId: Number,
        graphId: Number
      },

      methods: 
      {
        createText(s, b, d) {
          var txt = document.createElementNS('http://www.w3.org/2000/svg', 'text');

          $(txt).addClass('bubbleTxt')
                // .attr('transform', 'translate(' + d + ' ' + d + ')')
                .appendTo(s);

          txt.innerHTML = b.value;
        },

        createCircle(d) {
          let currentBubbleData = d.data[0].bubbles

          currentBubbleData.forEach(bubble => {
            let svg = $('#bubble'+bubble.id)
            //  $(svg)
            let circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
            let diam = 5*(bubble.value);
            let currentLegend = this.legends.find( obj => obj.id == bubble.id)
            let color = currentLegend.color

            $(svg).empty().css({'height': diam*2, 'width': diam*2})
            $(circle).attr('cx', diam)
                     .attr('cy', diam)
                     .attr('r', diam)
                     .attr('fill', color)

            .appendTo(svg);
            this.createText(svg, bubble, diam)
          });

                    // for (let i=0; i <(currentBubbleData.lenght); i++) {
          //   let circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
          //   let diam = 5*(currentBubbleData[i].value);
          //   $(circle)
          //   .attr('cx', diam)
          //   .attr('cy', diam)
          //   .attr('r', diam)
          //   .attr('fill', 'blue')

          //   .appendTo(svg[i]);
          //   this.createText(svg[i], currentBubbleData[i], diam)
          // }

      }, 

      showResults() {
        let currentYearData = this.dataBloc.datas.find(obj => obj.year == this.selectedYear)
        this.createCircle(currentYearData)
        this.sortArrayDatas(currentYearData)
      },

      sortArrayDatas(d) {
        let currentArraydata = d.data[1].rows
        this.rows = currentArraydata
      }

      }
    }
</script>