<script>
    import Chart from './Chart';
    import Data from './Data';

    export default {
        extends: Data,
        name: 'BlocOne',
        data() {
            return {
                dataConfigBloc: {},
                dataBloc: {},
                dataGaph: {},
                dataConfigGraph: {},
                blocId: '1'
            }
        },
        methods:
        {
            buildMap1() {
                let obj = AppData.buildMapObject(this.blocId, this.dpt);

                let container = document.querySelector('#bloc' + this.blocId);
                let svg = container.querySelector('.map-departement');
                let path = svg.querySelector('path');
                $(container).prepend('<h3>' + obj.title + '</h3>');

                let markers = obj.data.map.markers;

                markers.forEach((marker) => {
                this.createCircle(marker, obj.config.color, svg);
                this.createText(marker.label, svg);
                });
            },

            createCircle(marker, color, svg) {
                var circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
                let diam = 8;
                $(circle)
                .attr('cx', diam)
                .attr('cy', diam)
                .attr('r', diam)
                .attr('fill', color)
                .attr('transform', 'translate(' + marker.x + ' ' + marker.y + ')')
                .appendTo(svg);
            },

            createText(label, svg) {
                var txt = document.createElementNS('http://www.w3.org/2000/svg', 'text');

                $(txt)
                .attr('font-family', 'Arial')
                .attr('font-size', 11)
                .attr('fill', 'black')
                .attr('transform', 'translate(' + label.x + ' ' + label.y + ')')
                .appendTo(svg);

                txt.innerHTML = label.title;
            }

        }
    }
</script>

<template>
    <div id="bloc1">
        <p>ouaich</p>
    </div>
</template>
