<script>
  import axios from 'axios';
  import Data from './Data';
  // import Chart42 from './Chart42'
  import {Chart} from 'highcharts-vue'

  export default {
    extends: Data,
    name: 'Charts',
    components: 
    {
      highcharts: Chart,
      // Chart42
    },
    props: {
      blocId: Number,
      graphId: Number
    },

    data() {
      return {
        dataConfigBloc: {},
        dataBloc: {},
        dataGraph: {},
        dataConfigGraph: {},
        dataConfigGeneral: {},
        colors: [],
        selectedData: '',
        selectedPol: '',
        chartData: {
          yAxis: {
            title: {
              text: ''
            }
          },
          xAxis: {
            type: 'datetime',
          },
          plotOptions: {
            series: {
              pointStart: '',
              pointIntervalUnit: "year"
            }
          },
          title: {
            text: ''
          },
          colors: {},
          series: {}
        }
      }
    },

    methods:
    {
      showPol(e) {
        //Show the chart & pollutants div
        $('.chartPollutants').css('display', 'block')
        this.selectedData = e

        //Toggle the selected class on the buttons
        if ($('.btn42').hasClass('selected')) {
          $('.btn42').removeClass('selected')
        }
        
        let btnSelected = event.target
        $(btnSelected).addClass('selected')

        if(!(this.selectedPol == '')) {
        let currentData = this.getCurrentdatas()
        this.buildGraph(currentData)
        }
      },

      getCurrentdatas() {
        if(!(this.selectedPol == '')) {
          let polData = {}
          let currentData = {}

          this.dataGraph.datas.forEach(data => {
            if(data.polluant == this.selectedPol) {
              polData = data
          }
          });
          polData.datas.forEach(data => {
            if(data.id == this.selectedData) {
              currentData = data
            }
          })
          return currentData
        }
      },

      buildGraph(currentData) {
        //Toggle the selected class on the radio labels
        if ($('.pollutant label').hasClass('selected')) {
          $('.pollutant label').removeClass('selected')
        }
        let btnSelected = $('.pollutant label[for=chartPol'+this.selectedPol+']')
        $(btnSelected).addClass('selected')

        //Get current data depending on pollutant and categorie selected
        if(currentData == undefined) {
          currentData = this.getCurrentdatas()
        }

        //Sorting datas for constructing highcharts line chart
        let container = $('#chart42');

        this.chartData.series = currentData.data
        this.chartData.plotOptions.series.pointStart = Date.UTC(this.dataConfigGraph.pointStart, 0, 1)
        this.chartData.colors = this.colors
        this.chartData.title.text = this.dataConfigGraph.title

        // $('#chart42').css('display', 'block')
      }
    }
  }
</script>

<template>
    <!-- <div>
      <Chart42 :blocId='this.blocId' :graphId='this.graphId' :dBloc='this.dataBloc' :dConfigBloc='this.dataConfigBloc' :dConfigGraph='this.dataConfigGraph' :dGraph='this.dataGraph' :dConfigGeneral='this.dataConfigGeneral' :col='this.colors'/>
    </div> -->
  <div :id="'bloc'+blocId+'Graph'+graphId">
    <h4>{{dataConfigBloc.title}}</h4>

    <div class="chartYear">
      <button class="btn42" @click="showPol(header.id)" v-for="header in (this.dataConfigGraph.headers)" :key="header.id" :data-target="header.id">
        {{header.label}}
      </button>
    </div>

    <div class="chartDisplay">
      <div class="chartPollutants">
        <div class="pollutant" v-for="polluant in dataConfigGeneral.polluants" :key="polluant.id" v-bind:value="polluant.id">
          <input aria-hidden="false" @change="buildGraph()" :id="'chartPol'+polluant.id" type="radio" :value="polluant.id" v-model="selectedPol">
          <label :for="'chartPol'+polluant.id">{{polluant.label}}</label>
        </div>
      </div>

      <div id="chart42">
        <highcharts :options='chartData'/>
      </div>
    </div>
  </div>
</template>