<template>
  <div :id="'b'+blocId">
    <h3>{{this.title}}</h3>
    <!-- <h4 v-if="this.subtitle">{{this.subtitle}}</h4> -->
    <!-- If place filter exists, display select -->
    <!-- <div v-if="dataBloc.data.list">
      <select @change="buildMap1" v-model="selected">
          <option disabled value="">{{this.subtitle}}</option>
          <option v-for="listItem in dataBloc.data.list" :key="listItem" v-bind:value="listItem">{{listItem}}</option>
      </select>
      <div >
          <div v-if="data.list === selected">
              <div v-for="d in data.data" :key="d.polluant">
              </div>
          </div>
      </div>
    </div> -->
    <div class="year">
      <select class="mapYear" @change="showPol" v-model="selectedYear">
        <option disabled value="">Choisissez une année</option>
        <option v-for="data in (dataGraph? dataGraph.datas : dataBloc.datas)" :key="data.year" v-bind:value="data.year">{{data.year}}</option>
      </select>
      <!-- <select @change="buildMap6" v-model="selectedPol">
        <option disabled value="">Choisissez un polluant</option>
        <option v-for="pol in (dataGraph? dataGraph.datas.data : dataBloc.datas.data)" :key="pol" v-bind:value="pol.id">{{pol.id}}</option>
      </select> -->
      <div class="mapDisplays">
        <div class="mapPollutants">
          <div class="pollutant" v-for="pol in dataConfigBloc.legend" :key="pol.label" v-bind:value="pol.label">
            <input @change="buildMap6" :id="'mapPol'+pol.id" type="radio" :value="pol.id" v-model="selectedPol">
            <label :for="'mapPol'+pol.id">{{pol.label}}</label>
          </div>
        </div>
        <div id="map_6"></div>
      </div>
    </div>
      <!-- <svg class="map-departement">
      </svg> -->
  </div>
</template>

<script>
  import Data from './Data';
  import jQuery from 'jquery';
  import {LMap, LTileLayer, LMarker} from 'vue2-leaflet';

  export default {
    extends: Data,
    name: 'Map',
    components: {
      LMap,
      LTileLayer,
      LMarker
    },
    data() {
      return {
        dataConfigGeneral: {},
        dataConfigBloc: {},
        dataBloc: {},
        dataGraph: null,
        dataConfigGraph: {},
        title: '',
        subtitle: "",
        text: '',
        overlay: {},
        zoom_min: '',
        zoom_max: '',
        zoom_default: '',
        lat: '',
        long: '',
        selectedYear: '',
        selectedPol: '',
        existingMap: {},
        srcOverlay: ''

      }
    },

    props: 
    {
      blocId: Number,
      graphId: Number
    },

    methods: {
      // createCircle(map, color, svg) {
      //   var circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
      //   let diam = 8;
      //   $(circle)
      //   .attr('cx', diam)
      //   .attr('cy', diam)
      //   .attr('r', diam)
      //   .attr('fill', color)
      //   .attr('transform', 'translate(' + map.x + ' ' + map.y + ')')
      //   .appendTo(svg);
      // },

      // createText(label, svg) {
      //   var txt = document.createElementNS('http://www.w3.org/2000/svg', 'text');

      //   $(txt)
      //   .attr('font-family', 'Arial')
      //   .attr('font-size', 11)
      //   .attr('fill', 'black')
      //   .attr('transform', 'translate(' + label.x + ' ' + label.y + ')')
      //   .appendTo(svg);

      //   txt.innerHTML = label.title;
      // },

      // buildMap1() {
      //   let svg = document.querySelectorAll('.map-departement')
      //   let currentMap = this.dataBloc.data.map.markers.find(obj => obj.label.title == this.selected);
      //   //let markers = this.dataBloc.data.map.markers;
      //     this.createCircle(currentMap, this.dataConfigBloc.color, svg);
      //     this.createText(currentMap.label, svg);
      // },
      showPol() {
        this.destroyMap()
        $('.mapPollutants').css('display', 'block')
        if (this.selectedPol != '') {
          this.buildMap6()
        }
      },

      //TODO récupérer la layer de map dans config general & bounds
      buildMap6() {
        //Toggle the selected class on the radio labels
        if ($('.pollutant label').hasClass('selected')) {
          $('.pollutant label').removeClass('selected')
        }
        let btnSelected = $('.pollutant label[for=mapPol'+this.selectedPol+']')
        $(btnSelected).addClass('selected')

        this.destroyMap()

        //Init the map
        let map = L.map('map_6').setView([this.lat, this.long], this.zoom_default)
        L.tileLayer(this.dataConfigGeneral.layer, {
          attribution: this.dataConfigGeneral.credit,
          maxZoom: this.zoom_max,
          id: 'map6',
        }).addTo(map);
        map.scrollWheelZoom.disable();
        this.existingMap = map
        // let test2 = map.getBounds()
        // console.log(test2)

        //Get the datas for the year and the pollutant
        let currentMapData = this.dataBloc.datas.find(obj => obj.year == this.selectedYear)
        let currentOverlay = currentMapData.data.find(obj => obj.id == this.selectedPol)
        let bounds = this.dataBloc.map.overlay.bounds
        let test = currentOverlay.overlay.url
        this.srcOverlay = test

        let imageUrl = this.srcOverlay,
        imageBounds = [[(bounds[0].lat), bounds[0].long], [bounds[1].lat, bounds[1].long]]
        L.imageOverlay(imageUrl, imageBounds).addTo(map)
        // console.log(currentOverlay)

      },

      destroyMap() {
        //Check if a map already exists, if so, remove the instance
        let existingMap = this.existingMap
        if (!(Object.entries(existingMap).length === 0)) {
          existingMap.remove()
          this.existingMap = ''
          $('#map_6').removeClass()
        }
      }

      }
  }
</script>