<template>
  <div id="app">
    <Array :blocId="7" />
    <!-- <Array :blocId="4" :graphId="1"/> -->
    <Map :blocId="6" />
    <Charts :blocId="4" :graphId="2"/>
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";
import Array from "./components/Array";
import Map from "./components/Map";
import Charts from "./components/Charts";
// import jQuery from 'jquery';
// import axios from 'axios';


export default {
  name: "app",
  components: {
    Array,
    Map,
    Charts
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h3 {
  width: fit-content;
  color: #319DBF;
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
  width: fit-content;
  border-bottom: solid 10px #319DBF;
  padding-bottom: 2rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  padding-bottom: 1rem;
  border-bottom: solid 1px #2c3e50;
}

  /* Style for pollutants list */
  .pollutant {
    margin-bottom: 3rem;
    width: 100%;
  }

  .pollutant input {
    display: none;
  }

  .pollutant label {
    display: block;
    text-align: center;
    background-color: #319dbf;
    color: white;
    padding: 1rem;
  }

  .pollutant label:hover {
    cursor: pointer;
  }

  .pollutant label.selected {
    background-color: #b8d3db;
  }

</style>
